<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.proyectomobiles">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="false"
        android:icon="@mipmap/ic_launcher"
        android:label="Dogetoing"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ProyectoMobiles">
        <activity android:name=".MediaSearchActivity"></activity>
        <activity android:name=".MakeAdminActivity" />
        <activity android:name=".AddDeleteMediaActivity" />
        <activity android:name=".SearchEditDeleteMedia" />
        <activity android:name=".AddEditMediaActivity" />
        <activity android:name=".MakeUserAdminActivity" />
        <activity android:name=".AdminPanelActivity" />
        <activity android:name=".CollectionUser" />
        <activity android:name=".UserSearchActivity" />
        <activity android:name=".InfoElementActivity" />
        <activity android:name=".ElementNewActivity" />
        <activity android:name=".UserActivity" />
        <activity android:name=".StartActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".SignUpActivity" />
        <activity android:name=".LoginActivity" />
        <activity android:name=".LandingPageActivity" />
        <activity android:name=".MembersActivity" />
        <activity android:name=".FollowerActivity" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>